{% csrf_token %}
<form action = "" method = "POST">
    <label for="Keyword">Keyword: </label>
    <input id="Keyword" type="text" name="Keyword"> 
    <label for="Location">Location: </label>
    <input id="Location" type="text" name="Location">
    <label for="Email">Email: </label>
    <input id="Email" type="text" name="Email"><br>
	<br>
    <label for="CV">Copy and Paste your CV</label> <br>
    <textarea id="CV" name="CV"
          rows="15" cols="55">
     I have a Master Degree in ...
    </textarea>
    <input type="submit" value="OK">
    <img src="C:\ProgramData\Anaconda3\envs\Django\Scripts\samset\web\templates\2020-01-14_0-30-02.jpg" alt="W3Schools.com" width="100%" height="100%">	
	}
</form> 

