Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@m-r-tanha 
m-r-tanha
/
m-r-tanha.github.io
1
00
 Code Issues 0 Pull requests 0 Actions Projects 0 Wiki Security Insights Settings
m-r-tanha.github.io/index.html
@m-r-tanha m-r-tanha Update index.html
998a486 1 minute ago
585 lines (557 sloc)  20.9 KB
  
﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Mohammad Rasoul Tanhatala,.Net Developer,Portfolio" />
    <meta name="description" content="Mohammad Rasoul Tanhatala's Personal Portfolio" />
    <title>Mohammad Rasoul Tanhatala's Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="site.css" />
	<link rel="stylesheet" href="timeline.css" />
	
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-54516992-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-54516992-1');
    </script>

</head>
<body class="text-white" style="background-color:#175582;">
	<header style="height:500px;">
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
			<div class="container">
                <a class="navbar-brand" href="/">My Portfolio</a>
                <ul class="navbar-nav flex-grow-1">
					<li class="nav-item">
						<a class="nav-link text-light" href="https://github.com/m-r-tanha">
							<img src="image/github.png" height="20" class="align-top" />
							My GitHub
						</a>
					</li>
				</ul>
            </div>
		</nav>
		<div style="width:100%; position:relative;">
			<img src="image/header2.png" style="width:100%; position:absolute; z-index:1; left:0; top:0; -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.1))); mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.1));"/>
			<div class="text-center" style="position:absolute; left:0; top:0; width:fit-content; z-index:2; margin-left:120px; margin-top:40px;">
				<img src="image/me.jpg" class="rounded-circle m-2" style="width:190px; border:white solid 2px;" />
				<h3>Mohammad Rasoul Tanhatalab</h3>
				<h5>Python Developer, Data Scientist / Engineer, and Telecommunication Specialist</h5>
			</div>
		</div>
	</header>
	<div class="container">
		<div style="display:inline-block;">
			<h1>Social Links</h1>
			<ul class="socialLinks">
				<li>
					<a href="https://www.linkedin.com/in/mohammad-rasoul-tanhatalab-69a5b039/">
						<img src="image/linkedin.png"/>
						<span>LinkedIn</span>
					</a>
				</li>
				<li>
					<a href="https://github.com/m-r-tanha">
						<img src="image/github.png"/>
						<span>GitHub</span>
					</a>
				</li>
				<li>
					<a href="https://scholar.google.com/citations?user=MlT3jGUAAAAJ&hl=en">
						<img src="image/googlescholar.png"/>
						<span>GoogleScholar</span>
					</a>
				</li>
				<li>
					<a href="https://www.hackerrank.com/m_r_tanha">
						<img src="image/hackerrank.png"/>
						<span>HackerRank</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="mt-5">
			<h1>Skills</h1>
			<div class="row">
				<div class="col-md-4">
					<h4 class="m-3">Programming</h4>
					<ul class="skills">
						<li>Python</li>
						<li>PHP basic</li>
						<li>Django</li>
						<li>C#/C++</li>
						<li>Tensorflow</li>
						<li>Keras</li>
						<li>Git</li>
						<li>NLP-NLTK</li>
						<li>OpenCV</li>
						<li>Scikit-Learn</li>

						<li>Object-Oriented Programming</li>
					</ul>
				</div>
				<div class="col-md-4">
					<h4 class="m-3">Data Science</h4>
					<ul class="skills">
						<li>AI</li>
						<li>Machine Learning</li>
						<li>Deep Learning</li>
						<li>CNN/RNN</li>
						<li>RapidMiner</li>
						
					</ul>
				</div>
				<div class="col-md-4">
					<h4 class="m-3">Database / Data Engineer</h4>
					<ul class="skills">
						<li>SQL</li>
						<li>NoSQL</li>
						<li>MongoDB</li>
						<li>Cassandra</li>
						<li>Airflow</li>
						<li>Snowflake</li>
					</ul>
				</div>
				<div class="col-md-4">
					<h4 class="m-3">Digital Analytics</h4>
					<ul class="skills">
						<li>Google Analytics</li>
						<li>Google Data Studio</li>
						<li>Google Tag Manager</li>
					</ul>
				</div>				
				
			</div>
		</div>
		<div class="mt-5">
			<h1>Employments</h1>
			<ul class="mt-4">
				<li>
					FreeLance<br>
					<span style="color:#bbb;">2019 - Now</span><br/>
					<span style="color:#bbb;">Data Scientist and Python Developer</span>
				</li>
				<li>
					MTN Irancell<br>
					<span style="color:#bbb;">2018 - 2019</span><br/>
					<span style="color:#bbb;">Performance Specialist and Data Scientist</span>
				</li>
				<li>
					MTN Irancell and Shayegan TeleCom<br>
					<span style="color:#bbb;">2015 - 2019</span><br/>
					<span style="color:#bbb;">Optimization Specialist and Data Analyst</span>
				</li>
				<li>
					EMCI (Eastern Mass Communication Industries)<br>
					<span style="color:#bbb;">2012 - 2015</span><br/>
					<span style="color:#bbb;">Optimization Specialist and Data Analyst</span>
				</li>
				<li>
					(TCI) Telecommunication Company of Iran<br>
					<span style="color:#bbb;">2001 - 2012</span><br/>
					<span style="color:#bbb;">Operation and Maintenace Engineer and C# developer</span>
				</li>
				<li>
					University Instructor<br>
					<span style="color:#bbb;">2012 - 2017</span><br/>
					<span style="color:#bbb;">Machine Learning with Python on KPI, Signal and System, Mathematics, Data Communications Networks.</span>
				</li>
			</ul>
		</div>
		<div class="mt-5">
			<h1>Projects</h1>
			<div class="tl-container">
			
				<div class="tl">
					<div class="tl-entry">
						<div class="tl-title">
							<h3>2020</h3>
							<p>Deep Learning RCNN in Anomaly Detection</p>
						</div>
						<div class="tl-body">
							<p>It uses to Monitor and detect any degradation and anmoly in a Mobile Network. It has been implemented in MTN Irancell Mobile Network.</p>
							<ul>
								<li>Role:  Main Developer & Researcher and Project Manager</li>
								<li>Tech Stack: Python, Tensorflow, Keras, Deep Learning, Data Science</li>
							</ul>
							<a href="https://github.com/m-r-tanha/Deep-Learning-RCNN-Anomaly-detection" class="btn btn-primary">Project Source</a>
							<a href="https://arxiv.org/ftp/arxiv/papers/1911/1911.04472.pdf" class="btn btn-primary">arxiv Link</a>
						</div>
					</div>
					<div class="tl-entry">
						<div class="tl-title">
						  <h3>2020</h3>
						  <p>Web Scraping and NLP Analytics of the Job-Seeker Websites</p>
						</div>
						<div class="tl-body">
						  <p>This code scraps the jobs information from the top jobseeker websites and calculates/analyizes the correlation value between the jobs description and the uploaded CV. Finally, it suggests the high matched jobs to the job-seeker.</p>
						  <ul>
							<li>Role:  Main Developer and Researcher</li>
							<li>Tech Stack: Python, NLP, Web Scraping, Data Science</li>
						  </ul>
						  <a href="https://github.com/m-r-tanha/Web-Scraping-and-NLP-analysing-for-Linkedin-JobSeeking" class="btn btn-primary">Project Source</a>
						  <a href=</a>
						</div>
					  </div>
					  <div class="tl-entry">
						<div class="tl-title">
							<h3>2019</h3>
							<p>Time Series Prediction with RNN (Deep Learning)</p>
						</div>
						<div class="tl-body">
							<p>Time Series Prediction can be implemented in different industries, to forecast of each event.</p>
							<ul>
								<li>Role: Main Developer and Researcher</li>
								<li>Tech Stack: Python, Keras, Deep Learning, Data Science</li>
							</ul>
							<a href="https://github.com/m-r-tanha/Predict-Time-Series-Trend-with-RNN-recurrent-Neural-Network-" class="btn btn-primary">Project Source</a>
							<a href=</a>
						</div>
					</div>
					<div class="tl-entry">
						<div class="tl-title">
							<h3>2019</h3>
							<p>Mobile Data-Rate Improvement (3)</p>
						</div>
						<div class="tl-body">
							<p>LTE Practical Optimization Achievements on Throughput in Live Cellular Networks. It has been implemented in MTN Irancell Mobile Network.</p>
							<ul>
								<li>Role: Main Developer & Researcher and Project Manager</li>
								<li>Tech Stack: Python, SQL, Mobile Optimization, Data Analytics</li>
							</ul>
							<a href="https://ieeexplore.ieee.org/document/8874877" class="btn btn-primary">IEEE Link</a>
							<a href=</a>
						</div>
					</div>
					<div class="tl-entry">
						<div class="tl-title">
							<h3>2017</h3>
							<p>Mobile Data-Rate Improvement (2)</p>
						</div>
						<div class="tl-body">
							<p>Practical achievements on throughput improvement in real networks. It has been implemented in MTN Irancell Mobile Network.</p>
							<ul>
								<li>Role: Role: Main Developer & Researcher and Project Manager</li>
								<li>Tech Stack: Python, SQL, Mobile Optimization, Data Analytics</li>
							</ul>
							<a href="https://ieeexplore.ieee.org/document/8250037" class="btn btn-primary">IEEE Link</a>
						</div>
					</div>
					<div class="tl-entry">
						<div class="tl-title">
							<h3>2017</h3>
							<p>Mobile Data-Rate Improvement (3)</p>
						</div>
						<div class="tl-body">
							<p>Practical schemes for throughput improvement in live networks. It has been implemented in MTN Irancell Mobile Network.</p>
							<ul>
								<li>Role: Main Developer & Researcher and Project Manager</li>
								<li>Tech Stack: Python, SQL, Mobile Optimization, Data Analytics</li>
							</ul>
							<a href="https://ieeexplore.ieee.org/document/7967048" class="btn btn-primary">IEEE Link</a>
						</div>
					</div>
					<div class="tl-entry">
						<div class="tl-title">
							<h3>2013</h3>
							<p>SDCCH Success Rate Improvement in Mobile Networks</p>
						</div>
						<div class="tl-body">
							<p>Root cause analysis and new practical schemes for improving of SDCCH accessing in cellular networks. It has been implemented in MCI Mobile Network.</p>
							<ul>
								<li>Role: Main Developer & Researcher</li>
								<li>Tech Stack: Mobile Optimization, Data Analytics, Signal Processing</li>
							</ul>
							<a href="https://ieeexplore.ieee.org/document/6508358" class="btn btn-primary">IEEE Link</a>
						</div>
					</div>
					<div class="tl-entry">
						<div class="tl-title">
							<h3>2012</h3>
							<p>Site Rehoming in 2G BSC</p>
						</div>
						<div class="tl-body">
							<p>This Software Rehomes the Sites in one BSC to another one, by extracting the dump and creating command for the next BSC. It has been implemented in MCI Mobile Network.</p>
							<ul>
								<li>Role: Main Developer</li>
								<li>Tech Stack: C#, Excel</li>
							</ul>
							<a href="https://github.com/m-r-tanha/Re-Homing-2G-BSC-s-Sites-in-Mobile-Network-C-" class="btn btn-primary">Project Link</a>
						</div>
					</div>
					<div class="tl-entry">
						<div class="tl-title">
							<h3>2010</h3>
							<p>TCP/IP Congestion Controller</p>
						</div>
						<div class="tl-body">
							<p>
								Nonlinear Neural Network Congestion Control Based on Genetic Algorithm for TCP/IP Networks.
							</p>
							<ul>
								<li>Role: Main Developer and Researcher</li>
								<li>Tech Stack: Matlab, Simulink</li>
							</ul>
							<a href="https://ieeexplore.ieee.org/document/5615789" class="btn btn-primary">IEEE Link</a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		
		<div class="mt-5">
			<h1>Educations</h1>
			<ul class="mt-4">
				<li>
					M.Sc.<br>
					<span style="color:#bbb;">2008</span><br/>
					<span style="color:#bbb;">Electrical Engineer</span>
					<ul>
						<li>Islamic Azad University</li>

					</ul>
					
				</li>
				
				<li>
					B.Sc.<br>
					<span style="color:#bbb;">2001</span><br/>
					<span style="color:#bbb;">Telecommunication Engineer</span>
					<ul>
						<li>Telecommunication College of Applied Science and Technology</li>

					</ul>
				</li>

			</ul>
		<div class="mt-5">
			<h1>Certificates</h1>
			<ul class="socialLinks">
				<li>
						<img src="image/GoogleAnalytics.png" class="w3-round" style="width:290px; height:190px"; border:white solid 2px;" />
						<h6>Google Analytics Fundamentals</h6>
					</a>
				</li>
				<li>
						<img src="image/python.png" class="w3-round" style="width:290px; height:190px"; border:white solid 2px;" />
						<h6>Advanved Python</h6>
					</a>
				</li>
				<li>
						<img src="image/tensorflow.png" class="w3-round" style="width:290px; height:190px"; border:white solid 2px;" />
						<h6>Deep Learning with Tensorflow</h6>
					</a>
				</li>
				<li>
						<img src="image/mongodb.png" class="w3-round" style="width:290px; height:190px"; border:white solid 2px;" />
						<h6>No-SQL: MongoDB</h6>
					</a>
				</li>
				<li>
						<img src="image/bigdata.png" class="w3-round" style="width:290px; height:190px"; border:white solid 2px;" />
						<h6>Oracle Big Data Fundamentals</h6>
					</a>
				</li>
				<li>														   				
						<img src="image/snowflake.png" class="w3-round" style="width:290px; height:190px"; border:white solid 2px;" />
						<h6>Snowflake Datawarehouse & Cloud Analytics</h6>
					</a>
				</li>
				<li>														   				
						<img src="image/R.png" class="w3-round" style="width:290px; height:190px"; border:white solid 2px;" />
						<h6>R Programming</h6>
					</a>
				</li>
				<li>														   				
						<img src="image/Data Studio.png" class="w3-round" style="width:290px; height:190px"; border:white solid 2px;" />
						<h6>Data Studio</h6>
					</a>
				</li>
				<li>														   				
						<img src="image/DataMining.png" class="w3-round" style="width:290px; height:190px"; border:white solid 2px;" />
						<h6>Data Mining</h6>
					</a>
				</li>
				<li>														   				
						<img src="image/tag.png" class="w3-round" style="width:290px; height:190px"; border:white solid 2px;" />
						<h6>Google Tag Manager Fundamentals</h6>
					</a>
				</li>
				<li>														   				
						< />
						<h6></h6>
					</a>
				</li>
				<li>														   				
						< />
						<h6></h6>
					</a>
				</li>
																		     
			</ul>
</b>
		<div class="mt-5">
			<h1>Publications</h1>
			<div class="tl-container">
			
				<div class="tl">
					<div class="tl-entry">
						<div class="tl-title">
							<h3>2020</h3>
							<p>IEEE SAMI2020 - Slovakia</p>
						</div>
						<div class="tl-body">
							<p>Deep RAN: A Scalable Data-driven platform to Detect Anomalies in Live Cellular Network Using Recurrent Convolutional Neural Network</p>
							<ul>
								<li></li>
								<li>Keywords: Deep Learning, Recurrent Convolutional Neural Network, Cellular Networks, KPI, Anomaly Detection, tensorflow, keras, GPU.</li>
							</ul>
								<a href="https://arxiv.org/ftp/arxiv/papers/1911/1911.04472.pdf" class="btn btn-primary">arxiv Link</a>
						</div>
					</div>
					<div class="tl-entry">
						<div class="tl-title">
						  <h3>2019</h3>
						  <p>IEEE ICORIS - Indonesia</p>
						</div>
						<div class="tl-body">
						  <p>LTE Practical Optimization Achievements on Throughput in Live Cellular Networks</p>
						  <ul>
							<li>Keywords: 5G, LTE, RF optimization, next generation networks, resource management,t hroughput</li>
						  </ul>
						  <a href="https://ieeexplore.ieee.org/document/8874877" class="btn btn-primary">IEEE Link</a>
						  <a href=</a>
						</div>
					  </div>
					  <div class="tl-entry">
						<div class="tl-title">
							<h3>2018</h3>
							<p>IEEE TELFOR - Serbia</p>
						</div>
						<div class="tl-body">
							<p>Analytic Model for the Prediction of Cell-Edge QoE of Streaming Video Over Best-Effort Mobile Radio Bearers</p>
							<ul>
								<li>Keywords: Mobile Network, QoE, Video Streaming</li>
							</ul>
							<a href="https://ieeexplore.ieee.org/document/8611953" class="btn btn-primary">Project Source</a>
							<a href=</a>
						</div>
					</div>
					<div class="tl-entry">
						<div class="tl-title">
							<h3>2017</h3>
							<p>IEEE GWS - South Africa</p>
						</div>
						<div class="tl-body">
							<p>Practical achievements on throughput improvement in real networks</p>
							<ul>

								<li>Keywords: Throughput , Next Networks , SG , 3G , HSPA , RF Optimization</li>
							</ul>
							<a href="https://ieeexplore.ieee.org/document/8300467" class="btn btn-primary">IEEE Link</a>
							<a href=</a>
						</div>
					</div>
					<div class="tl-entry">
						<div class="tl-title">
							<h3>2017</h3>
							<p>IEEE ICSigSys - Indonesia</p>
						</div>
						<div class="tl-body">
							<p>Practical schemes for throughput improvement in live networks</p>
							<ul>

								<li>Keywords: Throughput , Next Networks , 5G , 3G , HSPA , RF Optimization</li>
							</ul>
							<a href="https://ieeexplore.ieee.org/document/7967048" class="btn btn-primary">IEEE Link</a>
						</div>
					</div>
					<div class="tl-entry">
						<div class="tl-title">
							<h3>2015</h3>
							<p>Book Chapter - US</p>
							<img src="image/book.png" class="w3-round" style="width:90px; height:150px"; border:white solid 2px;" />
						</div>
						<div class="tl-body">
							<p>4G & Beyond: The Convergence of Networks, Devices and Services</p>
							<ul>

								<li>Chapter 10: 4G & Beyond: The Convergence of Networks, Devices and Services</li>
							</ul>
							<a href="https://www.amazon.com/4G-Beyond-Convergence-Eletronics-Telecommunications/dp/1634833988" class="btn btn-primary">Amazon Link</a>
						</div>
					</div>
					<div class="tl-entry">
						<div class="tl-title">
							<h3>2013</h3>
							<p>IEEE ICICES - India</p>
						</div>
						<div class="tl-body">
							<p>Root cause analysis and new practical schemes for improving of SDCCH accessing in cellular networks</p>
							<ul>
								
								<li>Keywords: RF Optimization , BSC , GSM , BTS , SDCCH Access Success , KPI , QoS</li>
							</ul>
							<a href="https://ieeexplore.ieee.org/document/6508358" class="btn btn-primary">IEEE Link</a>
						</div>
					</div>
					<div class="tl-entry">
						<div class="tl-title">
							<h3>2010</h3>
							<p>IEEE EPC-IQ - Iraq</p>
						</div>
						<div class="tl-body">
							<p>Singular perturbation method for robust control of nonlinear systems</p>
							<ul>
								<li>Keywords: Inclusion nonlinear Systems , Robust Control , H∞ Controller , Singular Perturbation method</li>
							</ul>
							<a href="https://ieeexplore.ieee.org/document/5767312" class="btn btn-primary">IEEE Link</a>
						</div>
					</div>
					<div class="tl-entry">
						<div class="tl-title">
							<h3>2010</h3>
							<p>IEEE CICN - India </p>
						</div>
						<div class="tl-body">
							<p>Novel Algorithm of Energy-Aware in Asymmetric Wireless Sensor Networks Routing for In-Point Coverage</p>
							<ul>

								<li>Keywords: Asymmetrical Sensor , Point Coverage , Energy , Lifetime , Relay Node , Supernode</li>
							</ul>
							<a href="https://ieeexplore.ieee.org/document/5701984" class="btn btn-primary">IEEE Link</a>
						</div>
					</div>
					<div class="tl-entry">
						<div class="tl-title">
							<h3>2010</h3>
							<p>IEEE CICSYN - UK</p>
						</div>
						<div class="tl-body">
							<p>
								Nonlinear Neural Network Congestion Control Based on Genetic Algorithm for TCP/IP Networks.
							</p>
							<ul>
								<li>Keywords: Active Queue Management , Neural Network , Genetic Algorithm , TCP</li>
							</ul>
							<a href="https://ieeexplore.ieee.org/document/5615789" class="btn btn-primary">IEEE Link</a>
						</div>
					</div>
					<div class="tl-entry">
						<div class="tl-title">
							<h3>2010</h3>
							<p>IEEE EPC-IQ - Iraq</p>
						</div>
						<div class="tl-body">
							<p>Designing a random number generator with novel parallel LFSR substructure for key stream ciphers</p>
							<ul>
								<li>Keywords: Inclusion nonlinear Systems , Robust Control , H∞ Controller , Singular Perturbation method</li>
							</ul>
							<a href="https://ieeexplore.ieee.org/document/5767312" class="btn btn-primary">IEEE Link</a>
						</div>
					</div>
					<div class="tl-entry">
						<div class="tl-title">
							<h3>2010</h3>
							<p>IEEE ICCDA- China </p>
						</div>
						<div class="tl-body">
							<p>Decreasing the Energy Consumption by a New Algorithm in Choosing the Best Sensor Node in Wireless Sensor Network with Point Coverage</p>
							<ul>

								<li>Keywords: FSR, LFSR, Cryptography</li>
							</ul>
							<a href="https://ieeexplore.ieee.org/document/5541188" class="btn btn-primary">IEEE Link</a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
			
			
			
		</div>
		
	</div>
</body>
</html>

